@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.tmpl1-wrap {
  font-family: Roboto, sans-serif;
}
.tmpl1-wrap .above-top {
  display: none;
}
.tmpl1-wrap .top {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  color: black;
  background-color: #ffffff;
}
.tmpl1-wrap .top .logo {
  font-size: 45px;
  display: flex;
}
.tmpl1-wrap .top .logo a {
  line-height: 0.9;
  color: black;
  font-family: "Oswald", sans-serif;
}
.tmpl1-wrap .top .logo .btn_choose-catalog {
  margin-left: 30px;
  padding: 5px 15px;
  min-width: 52px;
  display: inline-flex;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.tmpl1-wrap .top .logo .btn_choose-catalog img {
  margin-right: 5px;
  height: 30px;
}
.tmpl1-wrap .top .logo .btn_choose-catalog span {
  line-height: 1.6;
  font-size: 20px;
}
.tmpl1-wrap .top input {
  margin-left: 30px;
  margin-right: 15px;
  padding: 10px 35px 10px 15px;
  min-width: 100px;
  border-radius: 10px;
  color: black;
  background-color: white;
  border: 1px solid black;
  font-size: 18px;
}
.tmpl1-wrap .top button {
  margin: 0 0 0 -50px;
  display: flex;
  padding: 7px 7px;
  border-radius: 50px;
}
.tmpl1-wrap .top button img {
  height: 18px;
}
.tmpl1-wrap .top div .icon {
  margin-left: 30px;
  width: 24px;
  display: block;
  cursor: pointer;
}
.tmpl1-wrap .content {
  padding-top: 10px;
  padding-bottom: 15px;
}
.tmpl1-wrap .content .banner {
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
}
.tmpl1-wrap .max-w {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  max-width: 1416px;
}
.tmpl1-wrap .f-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tmpl1-wrap .f-grow-1 {
  flex-grow: 1;
}

@media (max-width: 869px) {
  .tmpl1-wrap .above-top {
    padding-top: 15px;
    padding-bottom: 0;
    display: block;
    line-height: 0.9;
    font-weight: 500;
    font-size: 22px;
    color: black;
    background-color: white;
    font-family: "Oswald", sans-serif;
  }
  .tmpl1-wrap .above-top img {
    display: none;
  }
  .tmpl1-wrap .top .logo a {
    display: none;
  }
  .tmpl1-wrap .top .logo .btn_choose-catalog {
    margin-left: 0;
  }
}
@media (max-width: 570px) {
  .tmpl1-wrap .above-top {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .tmpl1-wrap .above-top img {
    display: inline;
    margin-left: 24px;
    width: 24px;
  }
  .tmpl1-wrap .top {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .tmpl1-wrap .top .logo .btn_choose-catalog {
    padding-left: 10px;
    padding-right: 10px;
  }
  .tmpl1-wrap .top .logo .btn_choose-catalog span {
    display: none;
  }
  .tmpl1-wrap .top .logo .btn_choose-catalog img {
    margin-right: 0;
  }
  .tmpl1-wrap .top .min-w-100 {
    min-width: 100px;
  }
  .tmpl1-wrap .top input {
    margin-left: 15px;
  }
  .tmpl1-wrap .top div .icon {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */