@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.tmpl1-wrap {
  min-height: 100vh;
  position: relative;
  font-family: Roboto, sans-serif;
}
.tmpl1-wrap .top {
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  color: black;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.tmpl1-wrap .top .logo {
  margin-right: 15px;
  font-size: 45px;
  line-height: 0.9;
  color: black;
  font-family: "Oswald", sans-serif;
}
.tmpl1-wrap .top .btn_choose-catalog {
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px 15px;
  min-width: 52px;
  display: inline-flex;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.tmpl1-wrap .top .btn_choose-catalog img {
  margin-right: 5px;
  height: 30px;
  min-height: 30px;
}
.tmpl1-wrap .top .btn_choose-catalog span {
  line-height: 1.6;
  font-size: 20px;
}
.tmpl1-wrap .top .search {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-grow: 1;
  position: relative;
}
.tmpl1-wrap .top .search input {
  padding: 10px 40px 10px 15px;
  min-width: 100px;
  width: 100%;
  border-radius: 10px;
  color: black;
  background-color: white;
  border: 1px solid black;
  font-size: 18px;
}
.tmpl1-wrap .top .search button {
  position: absolute;
  right: 7px;
  display: flex;
  padding: 7px 7px;
  border-radius: 50px;
}
.tmpl1-wrap .top .search button img {
  height: 18px;
}
.tmpl1-wrap .top .icon {
  margin-left: 15px;
  margin-right: 15px;
  width: 24px;
  min-width: 24px;
  display: block;
  cursor: pointer;
}
.tmpl1-wrap .top .icon:last-child {
  margin-right: 0;
}
.tmpl1-wrap .bottom-nav {
  display: none;
}
.tmpl1-wrap .categories-bg {
  background-color: rgba(102, 109, 107, 0.533);
  position: fixed;
  top: 73px;
  left: 0;
  height: 100%;
  width: 100%;
}
.tmpl1-wrap .categories-bg .white {
  height: 100%;
  width: 25%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
}
.tmpl1-wrap .categories {
  position: absolute;
  top: 0;
  padding: 10px 15px;
  height: calc(100% - 73px);
  width: 320px;
  background-color: white;
  overflow-y: scroll;
  z-index: 500;
  /* W3C standard сейчас только для Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgb(242, 242, 242) white;
  /* для Chrome/Edge/Safari */
}
.tmpl1-wrap .categories .item {
  margin: 10px 0;
  padding: 7px 25px 7px 10px;
  display: flex;
  position: relative;
  align-items: center;
  font-size: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.tmpl1-wrap .categories .item img {
  margin-right: 12px;
}
.tmpl1-wrap .categories .item:after {
  content: "";
  font-weight: 900;
  position: absolute;
  right: 10px;
  border-color: #242424;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
}
.tmpl1-wrap .categories .item:hover {
  background-color: rgb(242, 242, 242);
}
.tmpl1-wrap .categories::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
.tmpl1-wrap .categories::-webkit-scrollbar-track {
  background: rgb(242, 242, 242);
}
.tmpl1-wrap .categories::-webkit-scrollbar-thumb {
  background-color: rgb(242, 242, 242);
  border-radius: 2px;
  border: 3px solid white;
}
.tmpl1-wrap .content {
  margin-bottom: 15px;
  padding-top: 83px;
  padding-bottom: 69px;
}
.tmpl1-wrap .content .banner {
  margin-bottom: 15px;
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(47, 97, 184);
}
.tmpl1-wrap .content .banner:last-child {
  margin-bottom: 0;
}
.tmpl1-wrap .max-w {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  max-width: 1416px;
}
.tmpl1-wrap .f-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .tmpl1-wrap .top .btn_choose-catalog {
    padding-left: 10px;
    padding-right: 10px;
  }
  .tmpl1-wrap .top .btn_choose-catalog img {
    margin-right: 0;
  }
  .tmpl1-wrap .top .btn_choose-catalog span {
    display: none;
  }
}
@media (max-width: 660px) {
  .tmpl1-wrap .top {
    padding-bottom: 10px;
  }
  .tmpl1-wrap .top .btn_choose-catalog,
  .tmpl1-wrap .top .icon {
    display: none;
  }
  .tmpl1-wrap .top .logo {
    margin-right: 0;
    font-size: 30px;
  }
  .tmpl1-wrap .top .search {
    margin-right: 0;
  }
  .tmpl1-wrap .bottom-nav {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    color: black;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .tmpl1-wrap .bottom-nav .nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
  }
  .tmpl1-wrap .bottom-nav img {
    padding: 10px 10px 15px 10px;
    height: 54px;
    cursor: pointer;
  }
  .tmpl1-wrap .categories-bg {
    top: 68px;
  }
  .tmpl1-wrap .categories-bg .white {
    width: 100%;
    height: 100%;
  }
  .tmpl1-wrap .categories {
    width: 100%;
    height: calc(100% - 122px);
    left: 0;
  }
}/*# sourceMappingURL=indexv2.css.map */